<<<<<<< HEAD
[data-md-path="docs/Chunithm/0.start"] {
    --md-primary-fg-color: #FFC105;
    --md-accent-fg-color: #FF6E42;
=======
[data-md-path="docs/Chunithm/0.start"] {
    --md-primary-fg-color: #FFC105;
    --md-accent-fg-color: #FF6E42;
>>>>>>> a871b3caedf7d85f0674848725b81de33bbf3b16
}